<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_customer_save_after">
        <observer name="cleverreach_customer_save_after"
                  instance="Test\CleverreachPlugin\Observer\CustomerSaveAfter"/>
    </event>
    <event name="customer_delete_after">
        <observer name="cleverreach_customer_delete_after"
                  instance="Test\CleverreachPlugin\Observer\CustomerDeleteAfter"/>
    </event>
    <event name="customer_register_success">
        <observer name="cleverreach_customer_register_success"
                  instance="Test\CleverreachPlugin\Observer\CustomerRegisterSuccess"/>
    </event>
    <event name="customer_account_edited">
        <observer name="cleverreach_customer_account_edited"
                  instance="Test\CleverreachPlugin\Observer\CustomerAccountEdited"/>
    </event>
</config>